.travels{
    margin-top: 70px;
}

.travels__inner{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 15px;
    row-gap: 20px;
    @media (max-width: 1000px){
        grid-template-columns: repeat(2, 300px);
    }
    @media (max-width: 700px){
        grid-template-columns: repeat(1, 300px);
    }
}

.travels__item{
}

.travels__title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: brown;
}

.travels__link{
    text-decoration: none;
}

.travels__item-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 15px;
    transition: transform .3s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.travels__item-title{
    text-align: center;
    margin-bottom: 10px;
    color: brown;
    font-family: "Roboto", sans-serif;
}

.travels__item-text{
    text-align: center;
    color: brown;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    max-width: 200px;
    margin: 0 auto;
}