.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s ease;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 450px;
}

.modal__input{
    padding: 15px 25px;
    width: 100%;
    color: brown;
    font-size: 18px;
}

.modal__input::placeholder{
    font-size: 18px;
    color: brown;
}

.modal__content.active{
    transform: scale(1);
}

.modal__button{
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    background-color: brown;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}