.App {}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 400px;
}

.posts__desc {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

button {
    width: 30%;
}

.posts__list {
    margin-top: 50px;
    margin-left: 550px;
}