
.navbar {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 15px;
}

.navbar__links {
    margin-left: auto;
}

.navbar__links a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    color: white;
}


.error {
    margin-top: 100px;
    text-align: center;
}

.error h1 {
    color: red;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: green;
}

.posts__list {
   width: 600px;
   margin-left: 400px;
}

.posts__items {
    margin: 20px
}


.post__comment {
    width: 500px;
    margin-top: 20px;
    margin-left: 400px;
}

.comment__item {
    margin: 20px;
}