

.App {}


.posts__desc {
    margin-bottom: 20px;
}


.posts__list {
    margin-top: 50px;
    margin-left: 630px;
}

input {
    width: 95%;
    margin-bottom: 10px;
}


.button {
    margin-left: 600px;
    margin-top: 50px;
    padding: 8px 10px;
    cursor: pointer;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
}